<mat-card class="webauthn-container">
  <div [formGroup]="registerForm">
    <mat-form-field class="webauthn-field">
      <input type="text" formControlName="firstname" matInput placeholder="Given Name">
    </mat-form-field>
    <mat-form-field class="webauthn-field">
      <input type="text" formControlName="username" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="webauthn-field">
      <input type="password" formControlName="password" matInput placeholder="Password">
    </mat-form-field>
    <div class="webauthn-submit-container">
      <button mat-raised-button color="primary" class="webauthn-field">Register</button>
    </div>
  </div>
  <span class="webauthn-banner">
    Already have an account? 
    <a [routerLink]="['/login']">Login</a>
  </span>
</mat-card>
  
  
