@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.webauthn-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 32px);
  max-width: 600px;
  box-sizing: border-box;
  margin: 32px auto;
}

.webauthn-banner {
  display:flex;
  justify-content: center;
  padding-top: 32px;
}

.webauthn-submit-container {
  display:flex;
  justify-content: flex-end;
}
