<mat-card class="webauthn-container">
  <div [formGroup]="registerForm">
    <mat-form-field class="webauthn-field">
      <input type="text" formControlName="firstname" matInput placeholder="Given Name">
    </mat-form-field>
    <mat-form-field class="webauthn-field">
      <input type="text" formControlName="username" matInput placeholder="Username">
    </mat-form-field>
    <div class="webauthn-submit-container">
      <button (click)="onSubmit()" [disabled]="!registerForm.valid" mat-raised-button color="primary" class="webauthn-field">Register</button>
    </div>
  </div>
  <span class="webauthn-banner">
    Already have an account? 
    <a [routerLink]="['/login']">Login</a>
  </span>
</mat-card>
<div class="webauthn-log-container">
  <li *ngFor="let log of devLog; index as i">({{i}}).{{log}}
    <br><br>=================================================<br><br>
  </li>
</div>
  
  
